

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: sans-serif monospace;
}
	


body{
	width :100%;
	height: 100vh;
background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(movie.jpg) ;
background-size: cover;
background-position: center;
position: relative;

}
h1{
    position: absolute;
	color: #fafafa;
	left: 37%;
}



img.logo{
	border-radius:  50%;
	width: 120px;
	height: 60px;
	


}
.container{
	display: flex;
	justify-content: center;
	align-items: center;

}
.input{
	display: block;
position: absolute;
 top: 10%;
 left: 35%;
  width: 100%;
  text-align: center;
  font-size: 18px;
	width: 400px;
	height: 500px;
	border-radius: 5px;
	background-color:#fff;
	  padding: 50px 50px;

}
.login-text{
	font-size: 3rem;
}
.input-group input{
	width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
    margin-bottom: 20px;
}
.input-group input:focus{
border-color: #20B2AA;
}
.btn{
width: 100%;
height: 100%;
 transition: .3s;
 border: 2px solid #e7e7e7;
 outline: none;
 padding: 15px 20px;
  border-radius: 30px;
  background-color: 	#20B2AA;
  transition: 0.3s;
}
.btn:hover{
	transform: translateY(-5px);
}
.register{
	position: absolute;
	display:flex; 
	justify-content: center;
	border-radius: 5px;
	background-color:#fff;
	top: 80%;
	width: 22%;
	font-size: 1.5rem;
	
	margin-right: 2rem;
}
a.link{
	color: #20B2AA;
	text-decoration: none;
	margin-left: 5px;
}